:root {
  --colors: red, black, #ce43eb, #4d92eb, #e97f43, #43e99f, #e9436b;
}

header {
  height: 80px;
}

.conteneur{
  margin-top : 40px;
}

.titre{
  margin-top : 10px;
  margin-bottom: 10px;
}

.pointer:hover{
  cursor : pointer;
}

.cardJalon{
  overflow: hidden;
  overflow-wrap: break-word;
}

.body{
  overflow: hidden;
  width: 100%;
}

/* ###################################################################################################################*/
/* connexion */
/* ###################################################################################################################*/

.connexion {
  margin: auto;
  width: 900px;
  height: 500px;

  padding: 40px;
  border-radius: 10px;
  border: thick double darkolivegreen;

}
.connexion .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: darkolivegreen;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(85,107,47,.25);
}
.btnLogin {
  width: 150px;
  border-color: darkolivegreen !important;
}

.btnLogin:hover {
  background-color: darkolivegreen !important;
  color: white !important;
}

.connexionContainer {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projetEncours{
  margin-left : 5em;
}


/* ###################################################################################################################*/
/* planning */
/* ###################################################################################################################*/

.planning h3{
  font-family: 'Ubuntu'; /*border-collapse: collapse;*/
  border-spacing: 0;
  text-transform: uppercase;
  font-weight:700;
  padding: 10px 0;
  letter-spacing: 1px;
}
.planning table {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  font-family: 'Ubuntu'; /*border-collapse: collapse;*/
  border-spacing: 0;
  background-color: #ffffff;

}

.planning th, td {
  border: 1px solid rgba(87, 80, 80, 0.1);
  box-sizing: border-box;
}
.planning .day{
  border: 1px solid rgba(87, 80, 80, 0.1);
  box-sizing: border-box;
}

.planning th {
  text-transform: uppercase;
  font-size:10px;
  font-weight:700;
  padding: 10px 0;
  color: rgb(10, 10, 10);
  background-color: rgba(73, 71, 71, 0.25) !important;
  letter-spacing: 1px; }

.planning td {
  width: 14.285%;
  transition: all 0.3s;
  font-size: 14px;
  color: rgb(10, 10, 10);
  font-weight: 400;
  font-size: 14px;
  padding: 1.5% 1.5% 5%;
  vertical-align: initial;
  padding: 1.5% 0 ;
  height: 75px;
}

.planning .day:hover {
  background-color: rgba(0,0,0,0.1);
  cursor:pointer; }

.planning .today {
  color: #FFF;
  background-color: rgba(73, 71, 71, 0.25) !important; }

.planning span.number {
  margin-left: 10%
}

.planning span.event {
  height: 4px;
  background-color: rgba(0,0,0,.3);
  display: block;
  margin: 5px 10%;
  border-radius: 2px;
  background-color: #91c33b; }

.planning span.event-multiday {
  margin: 5px -2px;
  border-radius: 0; }
.planning span.event-multiday-start {
  margin-right: -4px;
}
.planning span.event-multiday-finish {
  margin-left: -4px;
}

.planning span.event-ghost { background-color:transparent; }


.legende{
  width : 15px;
  height: 15px;
  margin : 6px;
  border-radius: 50%;
}

.AjoutJalon{
}
.AjoutJalon:hover{
  font-weight: bold;
  cursor: pointer;
}


/* Barre de progression */
.styleProgress{
  display: block; /* permet de remplir le conteneur */
  background: linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0.15) 75%,
          transparent 75%,
          transparent
  );
  background-size: 1rem 1rem; /* taille des rayures */
  background-color: #007bff; /* couleur de fond principale */
  color: white; /* couleur du texte */
  text-align: center; /* centrage du texte */
  white-space: nowrap; /* évite la coupure du texte */
  border-radius: inherit; /* suit les coins arrondis du conteneur */
  transition: width 0.6s ease; /* animation de progression */
}

/* ###################################################################################################################*/
/* tache */
/* ###################################################################################################################*/

.petitRond {
  margin: 10px;
  width: 15px;
  height: 15px; /* La hauteur doit être identique à la largeur */
  border-radius: 50%; /* Cela rend le bord totalement arrondi */
  background-color: gray;
}